
/* === button === */

.button[type="button"] {
  padding-block: 1rem;
  padding-inline: 1.8rem;

  font-size: var(--fs-400);
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border);
  border-radius: 1.5em;

  transition: 
    color 200ms ease-in,
    background-color 200ms ease-in;
}

.button[type="button"]:hover {
  background-color: var(--btn-bg-hover);
}

.button[type="button"]:focus {
  outline: 2px solid var(--btn-outline-focus);
  outline-offset: 2px;
}

.button[type="button"].active {
  color: var(--btn-color-active);
  background-color: var(--btn-border-active);
  border: 1px solid var(--btn-bg-active);
}

.button[type="button"].active:hover {
  background-color: var(--btn-bg-active-hover);
}

.button[type="button"].button-primary:hover {
  color: var(--btn-color-primary-hover);
  background-color: var(--btn-bg-primary-hover);
}

/* === end of button === */

/* === theme toggle button */

.toggle.theme[type="button"][role="switch"] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 1.4rem;

  border-radius: 1.2rem;
  
  aspect-ratio: 1;
  transition: background-color 200ms ease-in;
}

.toggle.theme[type="button"][role="switch"] {
  background-color: var(--toggle-theme-bg);
}

.toggle.theme[type="button"][role="switch"]:hover {
  background-color: var(--toggle-theme-bg-hover);
}

.toggle.theme[type="button"][role="switch"][aria-checked="false"] {
  & #light {
    display: none;
  }

  & #dark {
    display: block;
  }
}

.toggle.theme[type="button"][role="switch"][aria-checked="true"] {
    & #light {
    display: block;
  }

  & #dark {
    display: none;
  }
}

.toggle[type="button"][role="switch"]:focus {
  outline: 2px solid var(--toggle-outline-focus);
  outline-offset: 2px;
}

/* === end of theme toggle button */

/* === toggle switch ===  */

input.toggle.switch[type="checkbox"][role="switch"] {
  --thumb-size: 1.6rem;
  --thumb-position: 0%;

  --track-padding: 0.2rem;
  --track-size: 3.6rem;

  display: grid;
  align-items: center;
  grid: [track] 1fr / [track] 1fr;
  inline-size: var(--track-size);
  padding: var(--track-padding);
  
  background-color: var(--toggle-switch-track-bg);
  border: none;
  border-radius: var(--track-size);
  
  appearance: none;
  cursor: pointer;

  &::after {
    content: "";
    grid-area: track;
    inline-size: var(--thumb-size);

    background-color: var(--toggle-switch-thumb-bg);
    border-radius: 50%;

    transform: translateX(var(--thumb-position));
    transition:
      background-color 200ms ease,
      transform 200ms ease,
      box-shadow 250ms ease;
    aspect-ratio: 1;
  }

  &:checked {
    --thumb-position: 100%;
    background-color: var(--toggle-switch-track-bg-checked);
  }
}

input.toggle.switch[type="checkbox"][role="switch"]:focus {
  outline: 2px solid var(--toggle-outline-focus);
  outline-offset: 2px;
}

/* === end of toggle switch ===  */



