@font-face {
  font-family: "Noto Sans";
  src: url("../assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf");
}

:root {
  --fs-700: 3.4rem;
  --fs-600: 2.5rem;
  --fs-500: 2.2rem;
  --fs-400: 1.6rem;

  --ff-sans: "Noto Sans", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 700;

  --clr-light-100: 0 0 78;
  --clr-light-200: 217 61 90;
  --clr-light-300: 0 0 93;
  --clr-light-400: 200 60 99;
  
  --clr-dark-100: 226 11 37;
  --clr-dark-200: 225 23 24;
  --clr-dark-300: 226 25 17;
  --clr-dark-400: 227 75 14;

  --clr-accent-100: 3 86 64;
  --clr-accent-200: 3 71 56;
  --clr-accent-300: 3 77 44;

  --bg-light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --bg-dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

  /* TODO: Following variables should only be initialized based on the theme */
  
  --btn-border: hsl(var(--clr-light-100)); 
  --btn-bg: hsl(var(--clr-light-400));
  --btn-bg-hover: hsl(var(--clr-light-300));
  --btn-outline-focus: hsl(var(--clr-accent-100));

  --btn-border-active: hsl(var(--clr-accent-300));
  --btn-color-active: hsl(var(--clr-light-400));
  --btn-bg-active: hsl(var(--clr-accent-300));
  --btn-bg-active-hover: hsl(var(--clr-accent-200));

  --btn-color-primary-hover: hsl(var(--clr-light-400));
  --btn-bg-primary-hover: hsl(var(--clr-accent-300));

  --toggle-outline-focus: hsl(var(--clr-accent-100));
}

html[data-theme="light"] {
  --toggle-theme-bg: hsl(var(--clr-light-300));
  --toggle-theme-bg-hover: hsl(var(--clr-light-100));
}

html[data-theme="dark"] {
  --toggle-theme-bg: hsl(var(--clr-dark-200));
  --toggle-theme-bg-hover: hsl(var(--clr-dark-100));
}

/* === reset === */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {  
  min-height: 100vh;

  font-size: var(--fs-400);
  font-family: var(--ff-sans);
  font-weight: var(--fw-regular);
  line-height: 1.5;

  /* TODO: Update the variable name such that it respects the active theme */
  background: 
    var(--bg-light-gradient)
    no-repeat;

  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: var(--fw-regular);
}

a:link,
a:visited {
  text-decoration: none;
}

button {
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* === end of reset === */

@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* === utilities === */

.container {
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: var(--container-padding, 2rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.flow > *:where(:not(:last-child)) {
  margin-bottom: var(--flow-gap, 1.6rem);
}

.fs-400 { font-size: var(--fs-400); }
.fs-500 { font-size: var(--fs-500); }
.fs-600 { font-size: var(--fs-600); }
.fs-700 { font-size: var(--fs-700); }

.medium { font-weight: var(--fw-medium); }
.semibold { font-weight: var(--fw-semibold); }

/* === end of utilities === */